<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ota">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Chanel"
        android:allowBackup="true"
        android:icon="@mipmap/ota_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ota_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTA">
        <activity android:name=".Account"></activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Email" />
        <activity
            android:name=".test"
            android:theme="@style/Theme.OTA" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".ParentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>